{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}

    <div class="section search-result-wrap">
        <div class="container">

            <div class="row posts-entry">
                <div class="col-lg-8">
                    {% for article in object_list %}
                        <div class="blog-entry d-flex blog-entry-search-item">
                            <a href="{% url 'article details' article.pk %}" class="img-link me-4">
                                <img src="{% static article.header_image %}" alt="Image" class="img-thumbnail">
                            </a>
                            <div>
                                <span class="date">{{ article.publish_date }} &bullet; <a
                                        href="#">{{ article.category }}</a></span>
                                <h2><a href="{% url 'article details' article.pk %}">{{ article.title }}</a></h2>
                                <p>{{ article.body | truncatechars:100 }}</p>
                                <p><a href="{% url 'article details' article.pk %}"
                                      class="btn btn-sm btn-outline-primary">Read More</a>
                                    {% if request.user.pk == article.user.pk or is_editor %}<a
                                        href="{% url 'article edit' article.pk %}"
                                        class="btn btn-sm btn-outline-primary">Edit</a> <a
                                        href="{% url 'article delete' article.pk %}"
                                        class="btn btn-sm btn-outline-primary">Delete</a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>

                    {% endfor %}

                    <div class="col-md-12" bis_skin_checked="1">
                        <div class="custom-pagination" bis_skin_checked="1">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">1</a>
                            {% endif %}
                               <span class="current">{{ page_obj.number }}</span>
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.number|add:"1" }}</a>

                            {% endif %}
                        </div>
                    </div>

                    <div class="sidebar-box">
                        <h3 class="heading">Articles count: <span>{{ object_list|length }}</span></h3>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}