{% extends 'base/base.html' %}
{% load static %}
{% include 'comments/comments.html' %}

{% block page_content %}

    <div class="site-cover site-cover-sm same-height overlay single-page"
         style="background-image: url({% static '' %}{{ article.header_image }});">
        <div class="container">
            <div class="row same-height justify-content-center">
                <div class="col-md-6">
                    <div class="post-entry text-center">
                        <h1 class="mb-4">{{ article.title }}</h1>
                        <div class="post-meta align-items-center text-center">
                            <figure class="author-figure mb-0 me-3 d-inline-block"><img
                                    src="{{ object.user.profile.profile_picture }}" alt="Image" class="img-fluid">
                            </figure>
                            <span class="d-inline-block mt-1">By {{ article_author }}</span>
                            <span>&nbsp;-&nbsp; {{ article.publish_date }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="container">

            <div class="row blog-entries element-animate">

                <div class="col-md-12 col-lg-8 main-content">

                    <div class="post-content-body">
                        <div class="row"><img src="{% static article.header_image %}" class="img-fluid"
                                              alt="{{ article.title }}"></div>
                        <hr/>
                        <br/>
                        <p>{{ article.body }}</p>
                    </div>


                    <div class="pt-5">
                        <p>Categories: {{ article.category }}</p>
                    </div>

                    <div id="comment-form-container">
                        <div class="pt-5 comment-wrap">
                            <h3 class="mb-5 heading">{{ comment.total }}</h3>
                            <ul class="comment-list">
                                {% for comment in comments %}
                                <li class="comment">
                                    <div class="vcard">
                                        <img src="{{ comment.author.profile_picture }}" alt="Image placeholder">
                                    </div>
                                    <div class="comment-body">
                                        {% if request.user.pk == comment.author.pk %}
                                        <h3>You</h3>
                                        {% else %}
                                        <h3>{{ comment.author.email }}</h3>
                                        {% endif %}
                                        <div class="meta">{{ comment.publish_date }}</div>
                                        <p>{{ comment.comment_body }}</p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            <!-- END comment-list -->

                            <div class="comment-form-wrap pt-5">
                                <h3 class="mb-5">Leave a comment</h3>
                                <form action="{% url 'article details' article.pk %}" method="POST" class="p-5 bg-light">
                                    {% csrf_token %}
                                    <p>{{ form.comment_body.label_tag }}</p>
                                    <p >{{ form.comment_body }}</p>
                                    <div class="form-group">
                                        <input type="submit" value="Submit" class="btn btn-primary">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- END main-content -->

                <div class="col-md-12 col-lg-4 sidebar">
                    <!-- END sidebar-box -->
                    <div class="sidebar-box">
                        <div class="bio text-center">
                            <img src="{{ object.user.profile.profile_picture }}" alt="Image Placeholder"
                                 class="img-fluid mb-3">
                            <div class="bio-body">
                                <h2>{{ article_author }}</h2>
                                <p class="mb-4">{{ object.user.profile.profile_description }}</p>
                                <p><a href="{% url 'profile details' object.user.pk %}"
                                      class="btn btn-primary btn-sm rounded px-2 py-2">Read my bio</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- END sidebar-box -->
                    <div class="sidebar-box">
                        <h3 class="heading">Popular Posts</h3>
                        <div class="post-entry-sidebar">
                            <ul>
                                <li>
                                    <a href="">
                                        <img src="images/img_1_sq.jpg" alt="Image placeholder" class="me-4 rounded">
                                        <div class="text">
                                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">March 15, 2018 </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="images/img_2_sq.jpg" alt="Image placeholder" class="me-4 rounded">
                                        <div class="text">
                                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">March 15, 2018 </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="images/img_3_sq.jpg" alt="Image placeholder" class="me-4 rounded">
                                        <div class="text">
                                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">March 15, 2018 </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END sidebar-box -->

                    <div class="sidebar-box">
                        <h3 class="heading">Categories</h3>
                        <ul class="categories">
                            <li><a href="#">Food <span>(12)</span></a></li>
                            <li><a href="#">Travel <span>(22)</span></a></li>
                            <li><a href="#">Lifestyle <span>(37)</span></a></li>
                            <li><a href="#">Business <span>(42)</span></a></li>
                            <li><a href="#">Adventure <span>(14)</span></a></li>
                        </ul>
                    </div>
                    <!-- END sidebar-box -->

                    {#          <div class="sidebar-box">#}
                    {#            <h3 class="heading">Tags</h3>#}
                    {#            <ul class="tags">#}
                    {#              <li><a href="#">Travel</a></li>#}
                    {#              <li><a href="#">Adventure</a></li>#}
                    {#              <li><a href="#">Food</a></li>#}
                    {#              <li><a href="#">Lifestyle</a></li>#}
                    {#              <li><a href="#">Business</a></li>#}
                    {#              <li><a href="#">Freelancing</a></li>#}
                    {#              <li><a href="#">Travel</a></li>#}
                    {#              <li><a href="#">Adventure</a></li>#}
                    {#              <li><a href="#">Food</a></li>#}
                    {#              <li><a href="#">Lifestyle</a></li>#}
                    {#              <li><a href="#">Business</a></li>#}
                    {#              <li><a href="#">Freelancing</a></li>#}
                    {#            </ul>#}
                    {#          </div>#}
                </div>
                <!-- END sidebar -->

            </div>
        </div>
    </section>

{% endblock %}
